## SQL-Powered Analysis of Instacart Grocery Data

In this section, I use SQL queries within a Python environment (via SQLite) to analyse customer behavior, product demand, and ordering patterns. This mirrors real-world reporting analyst workflows, where both SQL and Python are used for rapid insights.

In [23]:
import sqlite3
import pandas as pd

# Connect to SQLite
conn = sqlite3.connect('instacart.db')

orders = pd.read_csv('orders.csv')
order_products_prior = pd.read_csv('order_products__prior.csv')


# Load data into SQL tables
orders.to_sql('orders', conn, index=False, if_exists='replace')
order_products_prior.to_sql('order_products_prior', conn, index=False, if_exists='replace')

32434489

### Total number of orders per day of the week

In [33]:
query = "SELECT order_dow, COUNT(*) AS total_orders FROM orders GROUP BY order_dow"
result = pd.read_sql_query(query, conn)
print(result)
# 0 represents Sunday, 6 - Saturday

   order_dow  total_orders
0          0        600905
1          1        587478
2          2        467260
3          3        436972
4          4        426339
5          5        453368
6          6        448761

### Analyse Orders by Hour (Peak Times)

In [25]:
query = """
SELECT order_hour_of_day, COUNT(*) AS total_orders
FROM orders
GROUP BY order_hour_of_day
ORDER BY order_hour_of_day
"""
result = pd.read_sql_query(query, conn)
print(result)

    order_hour_of_day  total_orders
0                   0         22758
1                   1         12398
2                   2          7539
3                   3          5474
4                   4          5527
5                   5          9569
6                   6         30529
7                   7         91868
8                   8        178201
9                   9        257812
10                 10        288418
11                 11        284728
12                 12        272841
13                 13        277999
14                 14        283042
15                 15        283639
16                 16        272553
17                 17        228795
18                 18        182912
19                 19        140569
20                 20        104292
21                 21         78109
22                 22         61468
23                 23         40043

### Top 10 Most Ordered Products (Product Demand)

In [26]:
# You need to load products data too if not done yet
products = pd.read_csv('products.csv')
products.to_sql('products', conn, index=False, if_exists='replace')

query = """
SELECT p.product_name, COUNT(*) AS times_ordered
FROM order_products_prior op
JOIN products p ON op.product_id = p.product_id
GROUP BY p.product_name
ORDER BY times_ordered DESC
LIMIT 10
"""
result = pd.read_sql_query(query, conn)
print(result)

             product_name  times_ordered
0                  Banana         472565
1  Bag of Organic Bananas         379450
2    Organic Strawberries         264683
3    Organic Baby Spinach         241921
4    Organic Hass Avocado         213584
5         Organic Avocado         176815
6             Large Lemon         152657
7            Strawberries         142951
8                   Limes         140627
9      Organic Whole Milk         137905

### Reorder Rate Analysis (Customer Behavior)

In [27]:
query = """
SELECT reordered, COUNT(*) AS total
FROM order_products_prior
GROUP BY reordered
"""
result = pd.read_sql_query(query, conn)
print(result)
# Where:

# reordered = 1 → Product was reordered

# reordered = 0 → Product was purchased for the first time

# This shows loyalty or product popularity patterns.

   reordered     total
0          0  13307953
1          1  19126536

### Orders Per Day of Week (Trend Insight)

In [28]:
query = """
SELECT order_dow, COUNT(*) AS total_orders
FROM orders
GROUP BY order_dow
ORDER BY order_dow
"""
result = pd.read_sql_query(query, conn)
print(result)
#  Why it matters: Shows peak shopping days for operations planning.

   order_dow  total_orders
0          0        600905
1          1        587478
2          2        467260
3          3        436972
4          4        426339
5          5        453368
6          6        448761

### Orders Per Hour of Day (Peak Hours)

In [29]:
query = """
SELECT order_hour_of_day, COUNT(*) AS total_orders
FROM orders
GROUP BY order_hour_of_day
ORDER BY order_hour_of_day
"""
result = pd.read_sql_query(query, conn)
print(result)
# Identify peak ordering windows for staffing, logistics.

    order_hour_of_day  total_orders
0                   0         22758
1                   1         12398
2                   2          7539
3                   3          5474
4                   4          5527
5                   5          9569
6                   6         30529
7                   7         91868
8                   8        178201
9                   9        257812
10                 10        288418
11                 11        284728
12                 12        272841
13                 13        277999
14                 14        283042
15                 15        283639
16                 16        272553
17                 17        228795
18                 18        182912
19                 19        140569
20                 20        104292
21                 21         78109
22                 22         61468
23                 23         40043

### Top 10 Most Ordered Products (SKU Demand)

In [30]:
query = """
SELECT p.product_name, COUNT(*) AS times_ordered
FROM order_products_prior op
JOIN products p ON op.product_id = p.product_id
GROUP BY p.product_name
ORDER BY times_ordered DESC
LIMIT 10
"""
result = pd.read_sql_query(query, conn)
print(result)
# Understanding product-level demand drives inventory decisions.

             product_name  times_ordered
0                  Banana         472565
1  Bag of Organic Bananas         379450
2    Organic Strawberries         264683
3    Organic Baby Spinach         241921
4    Organic Hass Avocado         213584
5         Organic Avocado         176815
6             Large Lemon         152657
7            Strawberries         142951
8                   Limes         140627
9      Organic Whole Milk         137905

### Reorder Rate (Customer Loyalty Indicator)

In [31]:
query = """
SELECT reordered, COUNT(*) AS total_orders
FROM order_products_prior
GROUP BY reordered
"""
result = pd.read_sql_query(query, conn)
print(result)
# High reorder rates suggest strong product stickiness.

# Useful for marketing and retention teams.

   reordered  total_orders
0          0      13307953
1          1      19126536

### Average Basket Size per Order (Order Depth)

In [32]:
query = """
SELECT AVG(products_per_order) AS avg_basket_size
FROM (
    SELECT order_id, COUNT(*) AS products_per_order
    FROM order_products_prior
    GROUP BY order_id
)
"""
result = pd.read_sql_query(query, conn)
print(result)
# Helps track sales performance and cross-selling opportunities.

   avg_basket_size
0        10.088883